<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cards.component.scss">
</head>
<body>
    <section class="meio">
        <div class="container">
            <div class="card">
              <div class="date">29 NOV.</div>
              <img src="./rep1.png" alt="">
              <div class="textos">
              <h3>How Sucessful People Make the Most of Their Business </h3>
              <p>Um guia passo a passo criar seu próprio blog.</p>
              <a href="#" class="read-more">Read More →</a>
              </div>
            </div>
          
            <div class="card">
              <div class="date">9 NOV.</div>
              <img src="./rep2.png" alt="">
              <div class="textos">
              <h3>How Sucessful People Make the Most of Their Business</h3>
              <p>Um guia passo a passo criar seu próprio blog.</p>
              <a href="#" class="read-more">Read More →</a>
              </div>
            </div>
          
            <div class="card">
              <div class="date">4 OUT.</div>
              <img src="./rep3.png" alt="">
              <div class="textos">
              <h3>How Successful People Make the Most of Their Business</h3>
              <p>Quality Care For Every Patient Contrary to popular belief, Lorem Ipsum is...</p>
              <a href="#" class="read-more">Read More →</a>
              </div>
            </div>
          
            <div class="card">
              <div class="date">1 AGO.</div>
              <img src="./rep4.png" alt="">
              <div class="textos">
              <h3>11 Ways to Completely Revamp Your Business</h3>
              <p>Um guia passo a passo para criar seu próprio blog.</p>
              <a href="#" class="read-more">Read More →</a>
              </div>   
            </div>
        </div>
    </section>
</body>
</html>
